/*** reset ***********/
// html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
// header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	background: url(../images/bg.jpg) #fefefe;
	@include font-size(1.4);
	font-display: swap;
	display: grid;
    grid-template-areas: "header"
                         "neck"
                         "main"
                         "bottom"
                         "footer";
	grid-template-rows: auto auto 1fr auto auto;
	font-family: "SegoeUIItalic";
	color: $color3;
}

body{
	min-height: 100vh;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

strong,
.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}
em, i, 
.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
 //   border: 1px solid $color3;
 //   border-radius: 0;
 //   margin-top: 0.6rem;
	// font-size: 16px;
	// &:focus,
	// &:active{
	// 	border-color: $color5;
	// 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	// }
}



/* =header
---------------------------*/
.header{
	padding: 2rem 0 1rem;

	.mainnav{
		margin: 0;
		padding: 0;
		li{
			margin: 5px 0;
		}
		a{
			color: $color1;
			border-bottom: 1px dashed rgba(0,0,0,0);
			&:hover{
				border-bottom: 1px dashed $color4;
				color: $color4;
				text-decoration: none;
			}
		}
	}

	&__contacts{
		.tel{
			font-size: 24px;
			color: $color4;
			span{
				color: $color1;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
	p{
		line-height: 1.4;
		margin-bottom: 0;
	}
}

.callback{
	background: none;
	border-bottom: 1px dashed rgba(0,0,0,0);
	border: none;
	color: $color5;
	cursor: pointer;
	padding: 0;
	margin-top: 5px;
	display: inline-block;
	height: 25px;
	transition: .3s;
	&:hover{
		border-bottom: 1px dashed;
	}
}
/* =/header
---------------------------*/


.neck{
	background: $color4;
	color: $color2;
	min-height: 48px;
	a{
		color: currentColor;
	}
	p{
		margin: 0;
	}
}

.qcart{
	a{
		$l: 54px;
		margin-left: $l;
		position: relative;
		border-bottom: 1px dashed rgba(255,255,255,0);
		transition: .3s border-bottom;
		&:hover{
			text-decoration: none;
			border-bottom: 1px dashed rgba(255,255,255,1);
		}
		&:before{
			@extend .before;
			@include sprite($icon-cart);
			left: -$l;
			top: 0px;
		}
	}
	&__content{
		padding-left: 3rem;
	}
}

.menu2{
	font-size: 1.7rem;
}

.menucatalog{
	position: relative;
	padding-left: 32px;
	&:before{
		@extend .before;
		background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAQAAABZEmc3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCAwVBApzqqnRAAAAG0lEQVQI12P8/58BJ2BiwAMY8WjEr5OFgVw7AQbcBAkwQeY/AAAAAElFTkSuQmCC") no-repeat left top;
		height: 6px;
		top: 9px;
		transition: .3s transform;
		width: 14px;
	}
	&:hover{
		&:before{
			transform: rotate(90deg);
		}
	}
}


// search form
.sisea-search-form{
	label{
		display: block;
		padding: 0;
		margin: 0;
	}
	form{
		position: relative;
	}
	.form-control{
		color: $color7;
		font-size: 1.5rem;
		height: 3rem;
		padding: 0 1.7rem;
		width: 100%;
	}
	.submit{
		border: none;
		background: none;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		padding: 0;
		margin: 0;
		height: 30px;
		width: 30px;
		&:before{
			@include sprite($icon-search);
			@extend .before;
			filter: grayscale(1) brightness(2.2);
			transition: .3s filter;
			top: 6px;
			right: 16px;
		}
		&:hover{
			&:before{
				filter: none;
			}
		}
	}

}



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/


/* =main
---------------------------*/

.main{
	aside{
	}
}

.bottom{
	color: $color1;
	background: $color6;
	margin-top: 2rem;
	padding: 2rem 0 2.5rem 0;
	.title{
		font-family: "SegoeUIBoldItalic";
		margin-top: .3rem;
		white-space: nowrap;
	}
	li{
		margin: .3rem 0;
		white-space: nowrap;
		a{
			border-bottom: 1px dashed rgba(0,0,0,0);
			color: $color1;
			transition: .3s;
			&:hover{
				border-bottom: 1px dashed $color4;
				color: $color4;
				text-decoration: none;
			}
		}
	}
	ul{
		padding-left: 0;
	}
}

.footer{
	background: $color4;
	position: relative;
	color: $color2;
	.container{
		padding: 1.8rem 0;
		position: relative;
	}
	a{
		color: currentColor
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.kreotif{
	padding-right: 140px;
}

.kreotif-logo{
	background: $color2;
	width: 70px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	img{
		vertical-align: top;
	}
}
