.card{
	border: 1px solid $color11;
	margin-top: 2.6rem;
	margin-right: 3.1rem;
	padding-top: 2.7rem;
	// width: calc(20% - 3.8rem);
	width: 20rem;

	&-img{
		display: block;
		width: auto;
		margin: auto;
	}
	&-body{
		padding-left: .7rem;
		padding-right: .7rem;
		text-align: center;
	}

	&-title{
		color: $color4;
		font-weight: normal;
		font-family: "SegoeUIRegular";
		text-transform: uppercase;
	}

	&-text{
		color: $color12;
	}

	&-price{
		@extend .bold;
		color: $color7;
		font-size: 2.4rem;
	}
	$h: 30px;
	&-bottom{
		height: $h;
	}
	&-link{
		@extend .flex-center;
		background-color: $color11;
		color: $color12;
		font-family: "SegoeUIBoldItalic";
		font-size: 1.2rem;
		height: 100%;
		text-align: center;
		transition: .3s;
		width: 11rem;
		&:hover{
			background-color: $color4;
			color: $color2;
		}
	}
	&-form{
		display: flex;
		flex-grow: 1;			
	}
	.to-cart{
		background-color: $color4;
		border: none;
		cursor: pointer;
		display: block;
		flex-grow: 1;	
		height: $h;
		position: relative;
		&:before{
			@extend .before;
			@include sprite($icon-cart-2);
			left: 50%;
			margin-left: -14px;
			top: 4px;
		}
	}

	&-label{
		left: 0;
		position: absolute;
		top: 7px;
	}
}

.label{
	$h: 22px;
	color: $color2;
	font-family: "SegoeUIItalic";
	margin-bottom: .2rem;
	position: relative;
	text-align: center;
	width: 35px;
	height: $h;
	&:after{
		@extend .before;
		height: $h;
		width: 5px;
		right: -5px;
		top: 0;
	}
	&-sale{
		background-color: #ea1100;
		&:after{
			background: url(../images/label-sale.png) no-repeat left top;
		}
	}
	&-new{
		background-color: #40ab48;
		&:after{
			background: url(../images/label-new.png) no-repeat left top;
		}
	}
	&-hit{
		background-color: #0099ff;
		&:after{
			background: url(../images/label-hit.png) no-repeat left top;
		}
	}
}


.goods{
	margin-top: 1.6rem;
	.rur{
		color: $color4;
		font-weight: bold;
	}
}


.catalog{
	&__title{
		font-family: "SegoeUIRegular";	
		margin-top: 18px;
		text-transform: uppercase;
	}

	&__text{
		color: $color12;
		line-height: 1.3;
		margin-top: 15px;
		padding: 0 5px;
	}

	&__item{
		margin: 30px 0;
		width: 195px;
		a{
			&:hover{
				img{
					transform: scale(1.05)
				}
				.catalog__pic{
					border-color: $color4;
				}
			}
		}
	}

	&__pic{
		background-color: $color2;
		@extend .flex-center;
		border: 1px solid $color11;
		height: 85px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		transition: .3s border-color;
		width: 195px;
		img{
			transition: .3s transform;
			vertical-align: top;
		}
	}

	.effect-bubba{
		&:hover{
			.catalog__pic{
				border-color: $color11;
			}
		}
	}
}


.interesting{
	border-top: 1px solid $color9;
	margin: 3rem 0;
	padding-top: 1.8rem;
	h2{
		margin-bottom: 1.5rem;
	}
	a{
		color: $color4;
		@extend .dashed;
	}
	ul{
		li{
			margin: 5px 0;
		}
	}
}


aside{
	flex-shrink: 0;
	margin-right: 3.5rem;
	width: 23rem;
	.visual{
		margin-top: 17px;
		border-top: 1px solid $color9;
		padding-top: 17px;
	}
}

.aside{
	&__menu{
		margin-top: 6rem;
		a{
			color: $color7;
		}
		& > ul{
			& > li{
				margin: 10px 0;
				& > a{
					transition: .3s;
					display: block;
					padding: 4px 6px;
					border: 1px solid rgba(255,255,255,0);
					&:hover{
						border-color: $color4;
						color: $color4;
						text-decoration: none;
					}
				}
				& > ul{
					// display: none;
					li{
						padding-left: 1rem;
						margin: .8rem 0;
						a{
							color: $color4;
							@extend .dashed;
						}
						&:before{
							content: "-";
							color: $color4;
							padding-right: .3rem;
						}
					}
				}
			}
		}

		.current{
			& > a{
				background-color: $color4;
				border-color: $color4;
				color: $color2;
				&:hover{
					background-color: $color4;
					color: $color2;
				}
			}
		}
	}
}


.aside-content{
	border-bottom: 1px solid $color9;
	padding-bottom: 3.5rem;
	margin-bottom: 2.5rem;
	.content{
		overflow: hidden;
		flex-grow: 1;
	}

	.card{
		margin-right: 1.9rem;
		&:nth-child(4n){
			margin-right: 0;
		}
	}

	h1{
		margin-top: .8rem;
	}

	.goods{
		margin-top: .6rem;
		width: 880px;
	}
}

#filters{
	background-color: $color8;
	display: flex;
	padding: 1.8rem 2.5rem;
	margin: 2rem 0 0;
}

.group-btn{
	// display: block;
	@extend .flex-center;
	background: none;
	border: 1px solid $color4;
	margin-right: 1.8rem;
	text-align: center;
	height: 3rem;
	cursor: pointer;
	padding: 0 1.6rem .1rem;
	color: $color4;
	min-width: 15.5rem;
	transition: .3s;
	&-current,
	&.active,
	&:hover{
		background-color: $color4;
		color: $color2;
		text-decoration: none;
	}
}


.grid{
	&-item{
		&--height{
			height: 378px;
		}
	}
}






