$color1:#000;
$color2:#fff;
$color3:#333;
$color4:#064ca1;
$color5:#ed1b24;
$color6:#f0f0f0;
$color7:#808080;
$color8:#f6f6f7;
$color9:#ccc;
$color10:#f0f0f0;
$color11:#e6e6e6;
$color12:#4c4c4c;
$color13:#f7f7f7;
$color14:#666;
$color15:#b3b3b3;
$color16:#ececec;
$color17:#e0e0e0;


