/* =services
---------------------------*/
.services{
	background: $color8;
	padding: 1.2rem 0;
	&__row{
		justify-content: space-between;
	}
}

.service{
	&__cell{
		color: $color7;
		a{
			color: $color7;
			display: flex;	
			transition: .3s color;
			&:hover{
				color: $color4;
				text-decoration: none;
				img{
					filter: none;
				}
			}
		}
		img{
			transition: .3s filter;
			filter: grayscale(1) brightness(2);
			display: flex;
			align-self: center;
			margin-right: 2.2rem;
		}
	}
}

.slide{
	img{
		height: auto;
		width: 100%;
	}
}

#home-carousel{
	.slick-dots{
		bottom: 10px;
	}
}
/* =/services
---------------------------*/


.recommendation{
	padding-top: 3rem;
}



/* =producers
---------------------------*/
.producers{
	border-top: 1px solid $color9;
	border-bottom: 1px solid $color9;
	margin-top: 2.5rem;
	padding: 2.5rem 0;
}
.producer{
	&__link{
		@extend .flex-center;
		background: $color2;
		border: 1px solid #e6e6e6;
		height: 86px;
		transition: .3s border-color;
		width: 198px;
		img{
			margin: auto;
		}
		&:hover{
			border-color: $color4;
		}
	}
}
/* =/producers
---------------------------*/