/* =services
---------------------------*/
.services{
	background: $color8;
	padding: 1.2rem 0;
	&__row{
		justify-content: space-between;
	}
}

.service{
	&__cell{
		color: $color7;
		a{
			color: $color7;
			display: flex;	
			transition: .3s color;
			&:hover{
				color: $color4;
				text-decoration: none;
				border-bottom: none;
				img{
					filter: none;
				}
			}
		}
		img{
			align-self: center;
			display: flex;
			filter: grayscale(1) brightness(2);
			margin-right: 2.2rem;
			transition: .3s filter;
		}
	}
}

.slide{
	.container{
		// position: relative;
	}
	img{
		height: auto;
		width: 100%;
	}
	&__text{
		color: $color2;
		@extend .regular;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.text1,
	.text2{
		background-color: rgba(6, 76, 161, .8);
		position: absolute;
	}

	.text1{
		font-size: 3rem;
		top: 30%;
		padding: 0 110px; 
		text-align: center;
	}

	.text2{
		padding: .8rem 1rem;
		top: 60%;
		width: 78%;
		right: 10px;
	}
}

#home-carousel{
	.slick-dots{
		bottom: 10px;
	}
}
/* =/services
---------------------------*/


.recommendation{
	padding-top: 3rem;
}



/* =producers
---------------------------*/
.producers{
	border-top: 1px solid $color9;
	// border-bottom: 1px solid $color9;
	margin-top: 2.5rem;
	padding: 2.5rem 0;
}
.producer{
	&__link{
		@extend .flex-center;
		background: $color2;
		border: 1px solid #e6e6e6;
		height: 86px;
		transition: .3s border-color;
		width: 198px;
		img{
			margin: auto;
		}
		&:hover{
			border: 1px solid $color4;
		}
	}
}
/* =/producers
---------------------------*/




/* =useful
---------------------------*/
.useful{
	.media{
		&__inner{
			margin: 0 auto;
		}
	}
}
/* =useful
---------------------------*/


.media{
	&__inner{
		height: 158px;
		overflow: hidden;
		position: relative;
		width: 266px;
	}
	&__link{
		color: $color2 !important;
		display: block;
		.media__pic{
			img{
				vertical-align: top;
				transition: .3s;
			}
		}

		&:hover{
			.media__pic img{
				filter: brightness(50%);
				transform: scale(1.1)
			}
			border-bottom: none;
		}
	}
	&__title{
		@extend .flex-center;
		text-transform: uppercase;
		font-size: 1.8rem;
		position: absolute;
		text-align: center;
		top: 0;
		padding: 0 4rem;
		height: 100%;
		width: 100%;
	}
}


.articles__carousel{
	padding-top: 1rem;
}