@media (max-width: 1250px){
	#home-carousel{
		.slide{
			img{
				height: 250px;
				width: auto;
			}
			.text1{
				top: 15%;
			}
			.text2{
				top: 45%;
			}
		}
	}

	.goods{
		justify-content: center;
	}
	.recommendation .card:nth-child(5n){
		margin-right: 3.1rem;
	}

	.articles__list{
		justify-content: center;
		& > div{
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	// catalog
	#filters{
		padding: 0 .5rem;
		min-width: 0;
		.filter-btn{
			margin-right: 1rem;
			padding-left: .5rem;
			padding-right: .5rem;
		}
	}

	.aside-content .goods{
		flex-grow: 1;
		margin-left: 1rem;
		width: auto;
	}

	// card
	.card{
		&__details{
			flex-wrap: wrap;
		}
		&__gallery{
			margin: auto;
		}
		&__description{
			margin-top: 1rem;
			.price{
				display: block;
				margin: 0 auto;
				width: 15rem;
			}
			.count-cost{
				justify-content: center
			}
			.tocart{
				justify-content: center;
				.btn-order-one-click{
					width: 185px;
					display: block;
					margin-right: 0;
				}
			}
		}
	}
	.filter-btn{
		min-width: 0;
	}

	.recommendation{
		.btn-group{
			justify-content: space-between;
		}
		.filter-btn{
			flex-basis: auto;
			width: auto;
		}
	}
}


@media (max-width: 991px){
	.services__row{
		justify-content: center;
	}

	.service__cell{
		width: 33%;
		margin: .8rem 0;
	}

	.feedback{
		width: 100%;
		margin-top: 0;
	}

	.page-error{
		background-size: 60%;
	}

	.error-title{
		padding-right: 0;
	}


	#filters{
		flex-wrap: wrap;
		justify-content: center;
		.filter-btn{
			margin-bottom: 1rem;
		}
	}
	.aside-content .card{
		margin-right: .9rem;
	}

	.card__tabs{
		margin-top: 1rem;
		.nav-tabs{
			flex-wrap: wrap;
		}
	}

	.recommendation .goods{
		margin-left: .8rem;
	}

	.articles__list{
		justify-content: space-around
	}

}


@media (max-width: 767px){
	#home-carousel{
		.slide{
			.text1{
				top: 13%;
			}
			.text2{
				top: 40%;
				width: 98%;
			}
		}
	}

	aside{
		display: none;
	}

	.aside-content .goods{
		margin-left: 6rem;
	}

	.aside-content .card{
		// margin-left: auto;
		// margin-right: auto !important;
	}
}


@media (max-width: 576px){
	#home-carousel{
		.slide{
			.text1{
				top: 10%;
			}
			.text2{
				right: 1%;
				width: 98%;
			}
		}
	}

	.catalog__item{
		margin: 2rem 0;
		width: 90%;
	}

	.text,
	.about,
	.recommendation,
	.main main
	{
		text-align: justify;
	}

	main{
		h1,
		h2,
		h3
		{
			text-align: center;
		}
	}

	.feedback__form{
		.row{
			display: block;
		}
		.form-control{
			margin-top: 1rem;
		}
	}

	.page-error{
		background-position: center top 100px;
		padding-top: 0;
		min-height: 0;
		.error-title{
			text-align: center !important;
		}
		.box{
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.card{
		&__description .price{
			padding-left: 0;
			padding-right: 0;
		}
		&__info{
			margin-left: 0;
		}
	}

	#order-one-click .modal-dialog{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.articles__list{
		display: block !important;
		flex-direction: column;
		flex-wrap: nowrap !important;
		-webkit-flex-basis: 100%;
		& > div{
			flex:0 1 50%
		}
	}
}


@media (max-width: 520px){
	.card__mainimg{
		width: auto;
		#mainimg{
			max-width: 92%;
		}
	}

	.recommendation{
		.filter-btn{
			flex-basis: auto;
			width: 40%;
		}
	}
}


@media (max-width: 490px){
	.aside-content .goods{
		margin-left: 2.5rem;
	}
}



@media (max-width: 480px){
	.slide .text1{
		font-size: 2.4rem;
	}

	.service__cell{
		width: 50%;
		a{
			justify-content: center;
		}
	}

	.card{
		margin-left: 1rem;
		margin-right: 1rem !important;
		&__gallery{
			overflow: hidden;
		}
	}

	.card__thumbs{
		width: 75%;
	}

	#filters{
		margin-left: .8rem;
		margin-right: .8rem;
	}
}


@media (max-width: 460px){
	#home-carousel{
		display: none;
	}

	.service__cell{
		margin: 1.5rem 0;
		text-align: center;
		width: 100%;
	}

	#filters .filter-btn{
		// margin-right: 0;
	}
	.aside-content{
		.goods{
			margin-left: 0;
		}
		.card{
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
		}
	}

	.text{
		iframe{
			max-width: 100%;
			height: auto;
		}
	}

	.recommendation{
		.filter-btn{
			width: 100%;
		}
	}
}

@media (max-width: 400px){
	.card__description .tocart{
		display: block !important;
		.btn{
			margin: 1rem auto;
		}
	}

	.articles__list{
		justify-content: flex-start;
		overflow: hidden;
		width: 100%;
	}
}
