@media (max-width: 1250px){
	#home-carousel{
		.slide{
			img{
				height: 250px;
				width: auto;
			}
			.text1{
				top: 15%;
			}
			.text2{
				top: 45%;
			}
		}
	}

	.goods{
		justify-content: center;
	}
	.recommendation .card:nth-child(5n){
		margin-right: 3.1rem;
	}

	.articles__list{
		justify-content: center;
		& > div{
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	.pagination{
		ul{

		}
	}
}


@media (max-width: 991px){
	.services__row{
		justify-content: center;
	}

	.service__cell{
		width: 33%;
		margin: .8rem 0;
	}

	.feedback{
		width: 100%;
		margin-top: 0;
	}
}


@media (max-width: 767px){
	#home-carousel{
		.slide{
			.text1{
				top: 13%;
			}
			.text2{
				top: 40%;
				width: 98%;
			}
		}
	}
}


@media (max-width: 576px){
	#home-carousel{
		.slide{
			.text1{
				top: 10%;
			}
			.text2{
				right: 1%;
				width: 98%;
			}
		}
	}

	.text,
	.about,
	.recommendation,
	.main main
	{
		text-align: justify;
	}

	main{
		h1,
		h2,
		h3
		{
			text-align: center;
		}
	}

	.feedback__form{
		.row{
			display: block;
		}
		.form-control{
			margin-top: 1rem;
		}
	}

}


@media (max-width: 480px){
	.slide .text1{
		font-size: 2.4rem;
	}

	.service__cell{
		width: 50%;
		a{
			justify-content: center;
		}
	}

	.card{
		margin-left: 1rem;
		margin-right: 1rem !important;
	}
}


@media (max-width: 460px){
	#home-carousel{
		display: none;
	}

	.service__cell{
		margin: 1.5rem 0;
		text-align: center;
		width: 100%;
	}
}