// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-2-name: 'icon-cart-2';
$icon-cart-2-x: 33px;
$icon-cart-2-y: 0px;
$icon-cart-2-offset-x: -33px;
$icon-cart-2-offset-y: 0px;
$icon-cart-2-width: 29px;
$icon-cart-2-height: 21px;
$icon-cart-2-total-width: 62px;
$icon-cart-2-total-height: 42px;
$icon-cart-2-image: '../images/sprite.png';
$icon-cart-2: (33px, 0px, -33px, 0px, 29px, 21px, 62px, 42px, '../images/sprite.png', 'icon-cart-2', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 0px;
$icon-cart-y: 0px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 33px;
$icon-cart-height: 25px;
$icon-cart-total-width: 62px;
$icon-cart-total-height: 42px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (0px, 0px, 0px, 0px, 33px, 25px, 62px, 42px, '../images/sprite.png', 'icon-cart', );
$icon-search-name: 'icon-search';
$icon-search-x: 0px;
$icon-search-y: 25px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -25px;
$icon-search-width: 17px;
$icon-search-height: 17px;
$icon-search-total-width: 62px;
$icon-search-total-height: 42px;
$icon-search-image: '../images/sprite.png';
$icon-search: (0px, 25px, 0px, -25px, 17px, 17px, 62px, 42px, '../images/sprite.png', 'icon-search', );
$spritesheet-width: 62px;
$spritesheet-height: 42px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-cart-2, $icon-cart, $icon-search, );
$spritesheet: (62px, 42px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
